*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{
  background:#08173A;
  min-height:100vh;
  padding:0;
}

.card{
  width:100%;
  min-height:100vh;
  background:#fff;
  border-radius:0;
  padding:20px;
}

h1{
  text-align:center;
  color:#2563EB;
  font-size:36px;
  margin-bottom:8px;
}

.sub{
  text-align:center;
  color:#64748B;
  font-size:14px;
  margin-bottom:18px;
}

#priceBox{
  background:#EAF3FF;
  border:2px solid #2563EB;
  border-radius:16px;
  padding:16px;
  text-align:center;
  margin-bottom:18px;
}

#priceBox h2{
  color:#2563EB;
  font-size:30px;
  margin-bottom:6px;
}

#priceBox p{
  color:#64748B;
  font-size:14px;
}

label{
  display:block;
  margin:10px 0 6px;
  font-size:15px;
  font-weight:bold;
}

input,select{
  width:100%;
  padding:14px;
  border:2px solid #D1D5DB;
  border-radius:12px;
  font-size:17px;
  margin-bottom:14px;
}

button{
  width:100%;
  padding:15px;
  border:none;
  border-radius:14px;
  background:#2563EB;
  color:#fff;
  font-size:20px;
  font-weight:bold;
  margin-top:8px;
}

#page2 h2{
  text-align:center;
  font-size:22px;
  margin-bottom:10px;
}

#payAmount{
  text-align:center;
  color:#2563EB;
  font-size:42px;
  margin-bottom:22px;
}
